{% extends 'base.html' %}

{% block container %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


<!-- partial:index.partial.html -->
<div class="login-form">
    <form action="/login" method="post">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="email" placeholder="Email" autocomplete="nope" name="email">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" autocomplete="new-password" name="password">
        </div>
      
      </div>
      <div class="action">
       
        <a href="{{url_for('register')}}"><button>Register</button></a>
        <button type="submit">Sign in</button>
        
      </div>
    </form>
  </div>
  {% if session["message"]%}
        <h1>{{session["message"]}}</h1>
        {% endif %}
  {% if session["logged_in"]:%}
        <h1>{{session["login_message"]}}</h1>
        {% endif %}
  <!-- partial -->
  

{% endblock %}